<?xml version="1.0"?>
<config>
    <modules>
        <Popovici_Multiemail>
            <version>0.1.0</version>
        </Popovici_Multiemail>
    </modules>
    <global>
        <models>
            <popovici_multiemail>
                <class>Popovici_Multiemail_Model</class>
                <resourceModel>popovici_multiemail_resource</resourceModel>
            </popovici_multiemail>
            <!--<popovici_multiemail_resource>
                <class>Popovici_Multiemail_Model_Resource</class>
            </popovici_multiemail_resource>-->
            <core>
                <rewrite>
                    <translate>Popovici_Multiemail_Model_Core_Translate</translate>
                </rewrite>
            </core>
        </models>
        <blocks>
            <popovici_multiemail>
                <class>Popovici_Multiemail_Block</class>
            </popovici_multiemail>
        </blocks>
        <helpers>
            <popovici_multiemail>
                <class>Popovici_Multiemail_Helper</class>
            </popovici_multiemail>
        </helpers>
        <!--<resources>
            <popovici_multiemail_setup>
                <setup>
                    <module>Popovici_Multiemail</module>
                </setup>
            </popovici_multiemail_setup>
        </resources>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <popovici_multiemail before="Mage_Adminhtml">Popovici_Multiemail_Adminhtml</popovici_multiemail>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <popovici_multiemail>
                    <file>popovici/multiemail.xml</file>
                </popovici_multiemail>
            </updates>
        </layout>
    </adminhtml>
</config>